body {
}

.container {
	margin: 0 auto;
    width: 700px;
    text-align: center;
}

.jumbotron {
	background:none;
}

#question {
	text-align:center;
}

#timer {
	float:right;
}

.answer {
	background: none;
	border: none;
	clear:both;
	display: block;
	text-align: center;
	margin: 20px auto;
	font-size: 20px;
	font-weight: 700;
}

#question {
	clear:both;
}